html, body {
	height: 100%;
}

/*html { 
  background: url(img/18.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
    margin: 0;
    padding: 0;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
	-khtml-user-select: none;
    -ms-user-select: none;
	-o-user-select: none;
    user-select: none;
}

/*Heading*/

.head {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
}

.head img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -7px;
	font-size: 83px;
	font-weight: 600;
	color: #4d4f54;
}

/*Experience*/

.txt {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: -1px;
	color: #4d4f54;
	margin-top: 80px;
	-webkit-transform: skew(20deg); 
	-moz-transform: skew(20deg); 
	-o-transform: skew(20deg);
	transform: skew(20deg);
}

.prgram1 {
	width: 200px; 
	height: 200px;
	background: #5b99fe;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	text-align: center;
}

#exp2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

#exp2 a {
	text-decoration: none;
	color: #4d4f54;
}

#exp2 a:hover {
	color: #5b99fe;
}

#iface {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#iface:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#itwit {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#itwit:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#igplus {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#igplus:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#exp3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

#exp3 a {
	text-decoration: none;
	color: #4d4f54;
}

#exp3 a:hover {
	color: #5b99fe;
}

/*Education*/

.prgram2 {
	width: 200px; 
	height: 200px;
	background: #5b99fe;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	text-align: center;
}

#edu2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

#edu3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

/*IT skills*/

.prgram3 {
	width: 200px; 
	height: 200px;
	background: #5b99fe;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	text-align: center;
}

#itskill {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

/*Languages*/

.prgram4 {
	width: 200px; 
	height: 200px;
	background: #5b99fe;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	text-align: center;
}

#lang2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

/*Contact*/

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 600;
	color: #4d4f54;
}

#linkedin {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#linkedin:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#twitter {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#twitter:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#deviantart {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#deviantart:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}