body {
	background-attachment: fixed;
	height: 100%;
	background-image: url("../img/aaa.png");
	-webkit-background-size: cover;
  	   -moz-background-size: cover;
  	        background-size: cover;
	background-position: 0 0; 
	background-repeat: no-repeat;
    margin: 0;
    padding: 0;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
	-khtml-user-select: none;
    -ms-user-select: none;
	-o-user-select: none;
    user-select: none;
}

.container-fluid {
	max-width: 1000px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -7px;
	font-size: 83px;
	font-weight: 600;
	color: #4d4f54;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 600;
	color: #4d4f54;
	text-align: center;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0 auto;
}

li img {
	height: 64px;
	width: 64px;
}

ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

a {
	text-decoration: none;
	color: #5b99fe;
}

a:hover {
	color: #4d4f54;
	text-decoration: none;
}

.rhombus {
	width: 400px; 
	height: 150px;
	background: #5b99fe;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	text-align: center;
	line-height: 150px;
	margin: 0 auto;
	max-width: 90%;
}

.rhombus__txt {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1px;
	color: #4d4f54;
	-webkit-transform: skew(20deg); 
	-moz-transform: skew(20deg); 
	-o-transform: skew(20deg);
	transform: skew(20deg);
}

.heading {
	height: 100vh;
	text-align: center;
	line-height: 0.8;
}

.heading:before{
	content:"";
	height:100%;
	vertical-align:middle;
}

.contact-list {
	margin-bottom: 2em;
	text-align: center;
}

.progress {
	width: 50%;
	float: right;
	margin-top: 5px;
}

[class*="links"] {
	display: inline;
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

[class*="links__item"]:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

[class*="item"] {
	margin-top: 2em;
}
