html { 
  background: url(img/18.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	/*background: url(img/18.png) 
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
    margin: 0;
    padding: 0;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
	-khtml-user-select: none;
    -ms-user-select: none;
	-o-user-select: none;
    user-select: none;
}

.container-fluid {

}

.heading {
	text-align: center;
	line-height: 0.8;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -7px;
	font-size: 83px;
	font-weight: 600;
	color: #4d4f54;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 600;
	color: #4d4f54;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li img {
	height: 64px;
	width: 64px;
}

ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #4d4f54;
}

a {
	text-decoration: none;
	color: #5b99fe;
}

a:hover {
	color: #4d4f54;
}

.prgram {
	width: 200px; 
	height: 200px;
	background: #5b99fe;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	text-align: center;
	line-height: 200px;
}

.prgram-txt {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1px;
	color: #4d4f54;
	-webkit-transform: skew(20deg); 
	-moz-transform: skew(20deg); 
	-o-transform: skew(20deg);
	transform: skew(20deg);
}

#icon {
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#icon:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

.logo {
	width: 100px;
	height: 100px;
}

[class*="links"] {
	display: inline;
}